# Pagar.me V5 Gateway Integration (sk_ and pk_ tokens)
PAGARME_SECRET_KEY=
PAGARME_PUBLIC_KEY=
PAGARME_WEBHOOK_SECRET_KEY=

# Cron Endpoint Security
CRON_SECRET=

# AI Model
GEMINI_API_KEY=

# Strava API Integration
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_VERIFY_TOKEN=
STRAVA_REDIRECT_URI=http://localhost:3000/api/app?action=strava&stravaAction=callback

# Google Maps/Places API Integration
GOOGLE_PLACES_API_KEY=
GOOGLE_API_KEY=
